In [8]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

# Import API key
from config import g_key

#Access maps with unique API key
gmaps.configure(api_key=g_key)

In [9]:
city_weather_df = pd.read_csv("../WeatherPy/Weather_df.csv")
city_weather_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,pangnirtung,90,CA,1619715828,86,66.1451,-65.7125,30.20,2.30
1,1,arraial do cabo,40,BR,1619715553,46,-22.8362,-46.6460,75.99,13.80
2,2,mar del plata,75,ES,1619715544,76,43.4002,-4.0094,54.00,2.30
3,3,rikitea,94,PF,1619715829,69,-23.1203,-134.9692,75.74,9.24
4,4,dubrovytsya,100,UA,1619715617,76,51.5744,26.5650,53.06,5.95
...,...,...,...,...,...,...,...,...,...,...
540,540,nuevo progreso,1,US,1619715897,18,33.8014,-117.1459,78.01,1.97
541,541,port lincoln,94,CD,1619715566,78,-7.0349,29.7638,75.43,6.26
542,542,tena,90,EC,1619716066,94,-0.9833,-77.8167,75.20,2.30
543,543,new milford,40,LR,1619716066,74,6.6518,-10.5932,87.80,13.80
544,544,lazo,84,RU,1619716067,45,43.3817,133.9014,38.05,2.55

In [10]:
#humidity heatmap

locations = city_weather_df[["Lat", "Lng"]]
humidity = city_weather_df['Humidity'].astype(int)


# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#Plot heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
#Add heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=np.max(humidity), point_radius=3)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
#Narrow down the cities to fit weather conditions
#Drop any rows will null values
smaller_city_df = city_weather_df.loc[(city_weather_df["Wind Speed"] <= 10) & (city_weather_df["Cloudiness"]== 0) & \
                  (city_weather_df["Max Temp"] >= 70) & (city_weather_df["Max Temp"] <= 80)].dropna()
smaller_city_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
57,57,chuy,0,UY,1619715847,44,-33.6971,-53.4616,70.81,4.52
87,87,lompoc,0,US,1619715857,40,34.6391,-120.4579,73.00,2.59
118,118,noumea,0,NC,1619715605,77,-22.2763,166.4572,73.99,3.44
153,153,rivera,0,UY,1619715881,35,-30.9053,-55.5508,70.23,5.99
212,212,cidreira,0,BR,1619715908,56,-30.1811,-50.2056,70.43,7.31
220,220,inhambane,0,MZ,1619715913,75,-23.8650,35.3833,74.55,8.70
256,256,zhuhai,0,CN,1619715865,83,22.2769,113.5678,75.20,3.44
354,354,rio gallegos,0,GR,1619715976,73,38.3000,21.7833,73.00,2.19
434,434,dolores,0,AR,1619716013,50,-36.3132,-57.6792,72.48,9.48
477,477,aksu,0,CN,1619715813,11,41.1231,80.2644,73.54,5.48

In [15]:
#Store into variable named hotel_df
hotel_df = smaller_city_df.loc[:,["City","Country","Lat","Lng"]]

#Add a "Hotel Name" column to the DataFrame
hotel_df["Hotel Name"] = ""
hotel_df

             City Country      Lat       Lng Hotel Name
57           chuy      UY -33.6971  -53.4616
87         lompoc      US  34.6391 -120.4579
118        noumea      NC -22.2763  166.4572
153        rivera      UY -30.9053  -55.5508
212      cidreira      BR -30.1811  -50.2056
220     inhambane      MZ -23.8650   35.3833
256        zhuhai      CN  22.2769  113.5678
354  rio gallegos      GR  38.3000   21.7833
434       dolores      AR -36.3132  -57.6792
477          aksu      CN  41.1231   80.2644

In [16]:
#Set parameters to search for hotels with 5000 meters.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [17]:
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"
    
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    results = response['results']
    
    #Save the hotel name to the dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except (KeyError, IndexError):
        print("Could not find result")
        print("-------------------------")
        #delay the code by one second to avoid an error
        time.sleep(1)
    print("--------------------Ending Search")

Retrieving Results for Index 57: chuy.
Could not find result
-------------------------
--------------------Ending Search
Retrieving Results for Index 87: lompoc.
Could not find result
-------------------------
--------------------Ending Search
Retrieving Results for Index 118: noumea.
Could not find result
-------------------------
--------------------Ending Search
Retrieving Results for Index 153: rivera.
Could not find result
-------------------------
--------------------Ending Search
Retrieving Results for Index 212: cidreira.
Could not find result
-------------------------
--------------------Ending Search
Retrieving Results for Index 220: inhambane.
Could not find result
-------------------------
--------------------Ending Search
Retrieving Results for Index 256: zhuhai.
Could not find result
-------------------------
--------------------Ending Search
Retrieving Results for Index 354: rio gallegos.
Could not find result
-------------------------
--------------------Ending Search
Retrieving Results for Index 434: dolores.
Could not find result
-------------------------
--------------------Ending Search
Retrieving Results for Index 477: aksu.
Could not find result
-------------------------
--------------------Ending Search

In [18]:
#Display the hotel dataframe
hotel_df

             City Country      Lat       Lng Hotel Name
57           chuy      UY -33.6971  -53.4616
87         lompoc      US  34.6391 -120.4579
118        noumea      NC -22.2763  166.4572
153        rivera      UY -30.9053  -55.5508
212      cidreira      BR -30.1811  -50.2056
220     inhambane      MZ -23.8650   35.3833
256        zhuhai      CN  22.2769  113.5678
354  rio gallegos      GR  38.3000   21.7833
434       dolores      AR -36.3132  -57.6792
477          aksu      CN  41.1231   80.2644

In [19]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [20]:
# Plot markers on top of the heatmap
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))